<% content_for(:title, "#{@movie.title} (#{@movie.released_on.year})") %>
<div class="movie-description">
  <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>

<hr id="top-line">
  <div class="movie-info">
    <h3>Released On</h3>
        <p>
        <%= @movie.released_on %>
        </p> | 

    <h3>Genre</h3>
        <p>
         <% @genres.each do |genre| %>
          <%= genre.name %>
            <% end %>
        </p> | 

      <h3>Average Review</h3>
        <p>
         <%= format_average_stars(@movie) %>
        </p> |

        <h3>Rating</h3>
          <p>
           <%= @movie.rating %>
          </p> |

        <h3>Duration</h3>
          <p>
            <%= @movie.duration %>
          </p>
  </div>
<hr id="bottom-line">

        <h3>Description</h3>
          <p>
            <%= @movie.description %>
          </p>
<hr>
        <% if @fans.any? %>
          <h3>Fans</h3>
            <p>
              <%= pluralize(@fans.size, 'fan') %>
            </p>
                <p>
                  <% @fans.each do |user| %> 
                    <%= link_to user.name, user %>
              <% end %>
              <% end %>

              <% if current_user %>
                <% if @current_favorite %>
                  <%= button_to "Unfave", movie_favorite_path(@movie, @current_favorite), method: :delete, class: 'button unfave' %>
                <% else %>  
                  <%= button_to "Fave", movie_favorites_path(@movie), class: 'button fave' %>
                <% end %>
                <% end %>
            </p>
<hr>

        <h3>Total Gross</h3>
          <p>
            <%= format_total_gross(@movie) %>
          </p>
<hr>
        <h3>Cast</h3>
          <p>
           <%= @movie.cast %>
          </p>
<hr>
        <h3>Director</h3>
          <p>
         <%= @movie.director %>
          </p>
</div>



