<div class="movie-description">
  <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>

      <h3>Average Review</h3>
        <p>
         <%= format_average_stars(@movie) %>
        </p>

        <h3>Description</h3>
          <p>
            <%= @movie.description %>
          </p>

        <h3>Rating</h3>
          <p>
           <%= @movie.rating %>
          </p>

          <h3>Fans</h3>
            <p>
              <%= pluralize(@fans.size, 'fan') %>
            </p>
                <% if @fans.any? %>
                <p>
                  <% @fans.each do |user| %> 
                    <%= link_to user.name, user %>
              <% end %>
              <% end %>
              <% if current_user %>
                <% if @current_favorite %>
                  <%= button_to "Unfave", movie_favorite_path(@movie, @current_favorite), method: :delete, class: 'button unfave' %>
                <% else %>  
                  <%= button_to "Fave", movie_favorites_path(@movie), class: 'button fave' %>
                <% end %>
                <% end %>
            </p>

        <h3>Released On</h3>
          <p>
            <%= @movie.released_on %>
          </p>

        <h3>Total Gross</h3>
          <p>
            <%= format_total_gross(@movie) %>
          </p>

        <h3>Cast</h3>
          <p>
           <%= @movie.cast %>
          </p>

        <h3>Director</h3>
          <p>
         <%= @movie.director %>
          </p>

        <h3>Duration</h3>
          <p>
            <%= @movie.duration %>
          </p>
</div>



