<!-- THIS IS OUR VIEW FILE -->
<title>The Movies I've Watched</title>
<%= render 'layouts/header' %>

<%= render 'layouts/navbar' %>



<% @movies.each do |movie| %>
<div class ="movie-grid">
<div class="movie">
	<div class="movie-card">
	<div class="movie-card-inner">
  	<div class="movie-card-front">
      <%= image_for(movie) %>
    </div>

    <div class="movie-card-back">
    	
  		<div id="movie-title"><%= link_to movie.title, movie %></div>
  		  	<p><%= truncate(movie.description, length: 100, separator: ' ') %></p>
  			<p><b>CAST: </b><%= movie.cast %></p>
				<p><b>RATING:</b> (<%= movie.rating %>)</p>
				<p><b>RELEASED:</b>  <%= movie.released_on %></p>
				<p><b>DURATION:</b>  <%= movie.duration %></p>
				<p><b>TOTAL GROSS:</b> <%= format_total_gross(movie) %></p>
				<div>

				 <button id="delete-button">
				 <%= link_to "DELETE", movie, method: :delete, data: { confirm: 'Are you sure?' } %>
				</button>
				</div>
    </div>
  </div>
</div>

	</div>
</div>
<% end %>


<%= render 'layouts/footer' %>






