<!-- THIS IS OUR VIEW FILE -->
<title>The Movies I've Watched</title>
<%= render 'layouts/header' %>

<%= render 'layouts/sidebar' %>



<% @movies.each do |movie| %>
<div class ="movie-box">
<article class="movie">
<!-- 	<table>
		<tr>
			<th>Rating: (<%= movie.rating %>)</th>
			<th>Released: <%= movie.released_on %></th>
			<th>Rating: <%= movie.duration %></th>
			<th>Total Gross: <%= format_total_gross(movie) %></th>
		</tr>
	</table> -->
	<%= image_for(movie) %>

<div class="movie-description">

  <h2 id="movie-title"><%= link_to movie.title, movie %></h2>
  	<h3><%= movie.cast %></h3>

  <%= truncate(movie.description, length: 100, separator: ' ') %>
  <hr>

  <p><b>Rating:</b> (<%= movie.rating %>)</p>
  <p><b>Released:</b>  <%= movie.released_on %></p>
  <p><b>Duration:</b>  <%= movie.duration %></p>
  <p><b>Total Gross:</b> <%= format_total_gross(movie) %></p>
</div>
<% end %>
</article>

<%= render 'layouts/footer' %>