<title>Movies</title>
<%= render 'layouts/header' %>
  <ul class="nav-bar">
  <li class="active"><%= link_to 'All Movies', movies_path %></li>

<% if current_user_admin? %>
    <li><%= link_to 'Add New Movie', new_movie_path %></li>
    <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
    <li><%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>


<% if current_user %>
    <p><%= link_to 'Sign Out', session_path, method: :delete, class: 'sign-out' %></p>
    <p><%= link_to "Account Settings", edit_user_path(current_user), class: "user-head" %></p>
    <p><%= link_to current_user.name, current_user, class: "user-head", id: current_user.admin ? 'the-admin' : 'the-user' %></p>
    
<% else %>

    <%= link_to 'Sign Up', signup_path, class: 'button sign-up' %>
    <%= link_to 'Sign In', new_session_path, class: 'button sign-up' %>
<% end %>


</ul>

    <%= link_to pluralize(@movie.reviews.size, "review"),movie_reviews_path(@movie), class: "reviews" %>
      <%= link_to "Write Review", new_movie_review_path(@movie),
             class: 'button ok write-review' %>

  
<%= render 'movies/movie_page' %>

<%= render 'layouts/footer' %>
