
<!-- Here we use Ruby's form_for helper (which takes a block) with an 'f' object binded to @user -->
<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <!-- We use the 'f' object to make form elements -->
        <!-- the label creates a label with name -->
        <%= f.label :name %>
        <!-- the text_field helper creates a text field -->
        <%= f.text_field :name, size: 40, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :password %>
        <%= f.password_field :password, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </li>
    </ol>
    <p>
      <!-- Calling the new_record method with a question mark, we ask... is the user a new record? -->
      <% if @user.new_record? %>
      <!-- if so, we change the submit button's label to "Create Account" -->
        <%= f.submit "Create Account" %>
      <% else %>
      <!-- else, the submit button's label is "Update Account" -->
        <%= f.submit "Update Account" %>
      <% end %>
    </p>
  </fieldset>
<% end %>