<header id="content-header">
  <h1>Reviews for <%= link_to(@movie.title, @movie, class: "review-title") %></h1>
</header>


  <% @reviews.each do |review| %>
  <div class="review">
  	  <div id="user"><span id="user-name"><%= review.name %></span>
<!--   	  <span id="time-posted"><%= time_ago_in_words(review.created_at) %> ago -->
  	  <span id="time-posted"><%= review.created_at.strftime('%a %m/%d/%Y %T') %> 
  	  	(<%= time_ago_in_words(review.created_at) %> ago)
  	  </span></div>
      <p id="star"><%= pluralize(review.stars, 'star') %></p>
      <hr>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
  </div>
  <% end %>

