<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://kit.fontawesome.com/b14fc5e67e.js"></script>
</head>
  </head>
  <body>
 <!-- yield returns the html output that an action generates -->

  <% if flash[:notice] %>
      <p class="flash notice">
        <%= flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:alert] %>
      <p class="flash alert">
       <%= flash[:alert] %>
      </p>
    <% end %>


    <%= yield %>

  </body>
</html>
